<!DOCTYPE html>
<html>
  <head>
    <title>Rendezvous</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css" />
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="splash">
      <div class="grid-container">
        <div class="grid-60 desc">
          <div class="grid-container">
            <div class="grid-15 icon">
              <img src="/images/icon.png" style="height: 64px" />
            </div>
            <div class="grid-85 title">
              Rendezvous
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-100">
              Let us analyze you and your significant other’s interests to determine which activities would be interesting to the both of you.
            </div>
          </div>

        </div>
        <div class="grid-40 iphone">
          <img src="/images/iphone.png" style="width: 100%"/>
        </div>
      </div>
    </div>
  </body>
</html>
